

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ThucTapNhomProject.Models
@model IEnumerable<NguyenLieu>

<div class="row">
    <div>
        <button class="btn btn-outline-primary sel"><a href="@Url.Action("Create", "NguyenLieu")">Thêm Nguyên Liệu</a></button>
    </div>
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            MaNL
                        </th>
                        <th>
                            Tên Nguyên Liệu
                        </th>
                        <th>
                            Đơn Vị Tính
                        </th>
                        <th>
                            Nhà Cung Cấp
                        </th>
                        <th colspan="2">
                            Chức Năng
                        </th>
                        </thead>
                        <tbody>

                            @foreach (NguyenLieu item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.MaNL
                                    </td>
                                    <td>
                                        @item.TenNL
                                    </td>
                                    <td>
                                        @item.DVT
                                    </td>
                                    <td>
                                        @item.NhaCungCap
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="/NhanViens/Edit/@item.MaNL">Chỉnh Sửa</a></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="/NhanViens/DeleteNV/@item.MaNL">Xóa</a></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

